@tailwind base;
@tailwind components;
@tailwind utilities;
/* Highlight animation */
@keyframes highlight {
    0% {
      background-color: #f0f0f0;
    }
    50% {
      background-color: #ffedcc;
    }
    100% {
      background-color: #f0f0f0;
    }
  }
  
  .animate-highlight {
    animation: highlight 1s ease-out;
  }
  